<%- include('./partials/head') %>

<main>
    <div class="container">
        <section class="panel-grid">

            <div class="toolbar-grid">
                <div class="panel score-panel">
                    <div class="title-container">
                        <div class="title-block">
                            <h1>WU24 Championships</h1>
                            <p>Day 2, game 5</p>
                        </div>
                        <div class="live-box">
                            <p><span><i class="fa fa-toggle-right"></i> Live</span></p>
                        </div>
                    </div>
                    <div class="score-container">
                        <div class="score-items">
                            <div class="club-badge">
                                <img class="score-flag" src="/static/img/Flag_of_the_Netherlands.png" alt="Flag of []">
                                <p>Team Netherlands</p>
                            </div>
                        </div>
                        <div class="score-items">
                            <h2>14 - 8</h2>
                        </div>
                        <div class="score-items">
                            <div class="club-badge">
                                <img class="score-flag" src="/static/img/Flag_of_Australia.png" alt="Flag of []">
                                <p>Team Australia</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel points-panel">
                    <h3>Points</h3>
                    <div class="points-container">
                        <div class="points-team-1">
                            <p></p>
                        </div>

                    </div>
                </div>
                <div class="panel top-team-panel">
                    <h3>Team Netherlands (NLD)</h3>
                </div>
                <div class="panel bot-team-panel">
                    <h3>Team Australia (AUS)</h3>
                </div>
                <div class="header-panel">
                </div>
            </div>

        </section>
    </div>
</main>

<%- include('./partials/foot') %>