<%- include('./partials/head') %>

<main>
    <div class="container">
        <section class="panel-grid">

            <div class="toolbar-grid">

                <%# Title and score %>
                <div class="panel score-panel">
                    <div class="title-container">
                        <div class="title-block">
                            <h2>WU24 Championships</h2>
                            <p>Day 2, game 5 (match Id?)</p>
                        </div>
                        <div class="live-box">
                            <p><span>Live</span></p>
                        </div>
                    </div>
                    <div class="score-container">
                        <div class="score-items">
                            <div class="club-badge">
                                <img class="score-flag" src="/static/img/Flag_of_the_Netherlands.png" alt="Flag of []">
                                <p>Netherlands</p>
                            </div>
                        </div>
                        <div class="score-items">
                            <h2 class="score-h2">14 - 8</h2>
                        </div>
                        <div class="score-items">
                            <div class="club-badge">
                                <img class="score-flag" src="/static/img/Flag_of_Australia.png" alt="Flag of []">
                                <p>Australia</p>
                            </div>
                        </div>
                    </div>
                </div>

                <%# Points %>
                <div class="panel points-panel">
                    <h3>Points</h3>
                    <div class="points-container">
                        <div class="points-team-1">
                            <table cellspacing="0" cellpadding="0">
                                <thead>
                                  <tr>
                                    <th>Pass</th>
                                    <th>Turn</th>
                                    <th>O/D</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    
                                    <%# Point item team 1 %>
                                    <tr class="score-info-team-1 green">
                                        <td>3</td>
                                        <td>0</td>
                                        <td>O</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="score-points">
                            <table cellspacing="0" cellpadding="0">
                                <thead>
                                  <tr>
                                    <th>Score</th>
                                  </tr>
                                </thead>
                                <tbody>

                                    <%# Score %>
                                    <tr>
                                        <td>1 - 0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="points-team-2">
                            <table cellspacing="0" cellpadding="0" class="right">
                                <thead>
                                  <tr>
                                    <th>O/D</th>
                                    <th>Turn</th>
                                    <th>Pass</th>
                                  </tr>
                                </thead>
                                <tbody>

                                   <%# Point item team 2 %> 
                                    <tr class="score-info-team-2 red">
                                        <td>D</td>
                                        <td>0</td>
                                        <td>-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel top-team-panel">
                    <h3>Netherlands (NLD)</h3>
                    <div class="team-1-container player-container">
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg blue">4</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span> <span class="player-tagg yellow">1</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg grey">0</span> <span class="player-tagg blue">2</span> <span class="player-tagg red">3</span> <span class="player-tagg yellow">2</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg blue">4</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span> <span class="player-tagg yellow">1</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg grey">0</span> <span class="player-tagg blue">2</span> <span class="player-tagg red">3</span> <span class="player-tagg yellow">2</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg blue">4</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span> <span class="player-tagg yellow">1</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg grey">0</span> <span class="player-tagg blue">2</span> <span class="player-tagg red">3</span> <span class="player-tagg yellow">2</span></p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="panel bot-team-panel">
                    <h3>Australia (AUS)</h3>
                    <div class="team-2-container player-container">
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg blue">4</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span> <span class="player-tagg yellow">1</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg grey">0</span> <span class="player-tagg blue">2</span> <span class="player-tagg red">3</span> <span class="player-tagg yellow">2</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg blue">4</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span> <span class="player-tagg yellow">1</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg grey">0</span> <span class="player-tagg blue">2</span> <span class="player-tagg red">3</span> <span class="player-tagg yellow">2</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg blue">4</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span></p>
                            </div>
                        </article>
                        <article class="player-card">
                            <div class="inner-card">
                                <h4><span>12</span> Pieter Post</h4>
                                <p><span class="player-tagg green">1</span> <span class="player-tagg grey">0</span> <span class="player-tagg grey">0</span> <span class="player-tagg yellow">1</span></p>
                            </div>
                        </article>
                        
                    </div>
                </div>
                <div class="header-panel">
                    <div class="main-title-block">
                        <h1>Ulti.TV Commentators Dashboard</h1>
                        <p><span class="tagg green">Goals</span> <span class="tagg blue">Assists</span> <span class="tagg red">Blocks</span> <span class="tagg yellow">Turnovers</span></p>
                    </div>
                    <div class="logo-block">
                        <img class="logo" src="/static/img/UltiTV_logo.png" alt="Logo UltiTV">
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>

<%- include('./partials/foot') %>